.list-group-item {
    padding: 0;
    height: 100%;
}

.list-group-item button {
    border-radius: 0;
}

.list-group-item:first-child button {
    border-top-right-radius: 0.25rem;
}

.list-group-item:last-child button {
    border-bottom-right-radius: 0.25rem;
}
